extends layout

block content
  h1= title

  button(type='button', id='send_by_button') Create Webhook   

  p !{json}
  
    //loading jQuery; it can be done from an online source as well
    script(src='./javascripts/jquery-2.2.4.min.js')

    //loading JS for page
    script(src='./javascripts/pagefunctions.js')

    script(src='./socket.io/socket.io.min.js')
    script(src='./javascripts/socket.js')